<main class="page__main">
  <div class="main__favorites">
    <h3 class="main__favorites--title">Mis últimas 5 pelis guardadas:</h3>
    <ul class="js-favorite-container favorites"></ul>
  </div>
  <form class="js-form form">
    <label for="search-field" class="form__label"
      >Busca por el nombre de la película que quieres anadir</label
    >
    <input
      type="text"
      name="search-field"
      id="search-field"
      class="js-input form__input"
      placeholder="Busca aqui pelis"
    />
    <input type="button" value="Busca" class="js-button form__button" />
    <ul class="js-show-container container"></ul>
  </form>
</main>
